body {
  color: #333;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 26px;
}

h1 {
  font-size: 4em;
}

#title {
  font-family: "Nitro A", "Nitro B";
}

h3, p, input[type=email], input[type=submit], ul {
  font-family: "Verlag A", "Verlag B";
}

input[type=email], input[type=submit] {
  font-size: 20px;
}

input[type=email] {
  padding-left: 5px;
}

ul {
  list-style: none;
}

img {
  width: 80%;
}

.email {
  width: 63%;
}

.signup {
  padding-bottom: 0.5em;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
}
